// Place all the styles related to the Api::Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.artist-index-item-img img {
    height: 230px;
    width: 230px;
}

.artist-index {
    padding: 84px 0 100% 12px;
    background: white;
    margin: 0 auto auto auto;
    width: 915px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    h3 {
        font-family: "MissionGothic-Regular", sans-serif;
        font-weight: 200;
        color: #649922;
        font-size: 25px;
        padding-left: 10px;
    }
}

h1.artist-name {
    font-family: 'MissionGothic-Light', sans-serif;
    font-size: 16px;
}

ul.artist-index-list {
    display: flex;
    flex-wrap: wrap;
}


li.artist-index-item {
    list-style: none;
    margin: 10px 35px 10px 10px;
}

li.artist-index-item:hover {
    text-decoration: underline;
}

.artist-profile-content {
    background: white;
}

.artist-profile h3 {
    font-family: "MissionGothic-Regular", sans-serif;
    font-weight: 200;
    color: #649922;
    font-size: 25px;
    padding-left: 14px;
}

/****************************
  ARTIST FORM
*****************************/

.artist-login-form {
    .item p {
        font-family: 'MissionGothic-Light', sans-serif;
        font-size: 13px;
    }
    input.artist-input {
        font-family: 'MissionGothic-Light', sans-serif;
        font-size: 13px;
        background: #f8f8f8;
        width: 294px;
        border: none;
        border-radius: 4px;
        height: 34px;
        padding: 0 0 0 11px;
    }
    textarea.artist-input-textarea {
        font-family: 'MissionGothic-Light', sans-serif;
        font-size: 13px;
        background: #f8f8f8;
        width: 294px;
        height: 53px;
        border: none;
        border-radius: 4px;
        height: 80px;
        padding: 8px 0 0 11px;
    }   
}