.album-index-container {
    margin-top: 4vh;
    li {
        display: flex;
        font-family: "Raleway", "Open-Sans", sans-serif;
        font-weight: bold;
        font-size: 2vh;
        justify-content: space-between;
        color: white;
        section {
            img {
                height: 15vh;
            }
            article {
                display: flex;
                flex-direction: column;
            }
            article:last-child {
                padding: 8%;
            }
        }
        section:first-child {
            display: flex;
        }
        section:last-child {
            font-size: 5vh;
        }
    }
}