.album-index-container > li > img {
  height: 230px;
  width: 230px;
  flex: auto;
  margin: .5vw;
}

.album-index-container {
  padding: .5vw;
  font-size: 0;
  flex-flow: row wrap;
  display: flex;
  margin: 54px 0 0 0px;
}

.album-index-container > li:nth-child(3) {
    flex-basis: 0;
}

.edit-album-buttons {
    display: flex;
    flex-direction: row;
    margin: 0px 0 0 -15px;
}

.edit-album-buttons li.edit {
    margin: 0 14px 0 0px;
}