/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*body {
   background-color: pink;
 }*/

/****************************
  HEADER
*****************************/

h1 {
  font-family: 'Carrois Gothic', sans-serif;
  display: flex;
  border-bottom: .75px solid;
  border-bottom-color: grey;
  margin: 0 5px 0 5px;
}

/****************************
  NAV
*****************************/

.login-signup {
  font-family: 'Carrois Gothic', sans-serif;
  float: right;
  font-size: 12px;
}

.nav {
  align-items: center;
  justify-content: center;
  display: flex;
}

.nav li {
  margin: 0 5px 5px 0;
}

.nav li:hover {
  text-decoration: underline;
}

/****************************
  LINKS
*****************************/

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

/****************************
  LOGIN/SIGN IN FORM
*****************************/

.login-form-container {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin: -100px 0 0 -100px;
  border: .75px solid;
}

.login-form > li {
  text-align: center;
  font-size: 12px;
  font-family: 'Carrois Gothic', sans-serif;
  margin-top: 15px;
  margin-bottom: 25px;
}

.login-form > ul {
  text-align: center;
  font-size: 10px;
  font-family: 'Carrois Gothic', sans-serif;
}

.login-input {
  text-align: center;
  font-size: 12px;
  font-family: 'Carrois Gothic', sans-serif;
  outline: none;
}

.login-button, .logout-button {
  font-family: 'Carrois Gothic', sans-serif;
  background-color: white;
  border: none;
  color: black;
  padding: 2px 32px;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-top: 15px;
  border: .75px solid;
  outline: none;
}

.logout-button {
  font-family: 'Carrois Gothic', sans-serif;
  width: 11px;
  font-size: 12px;
  height: 11px;
  border: 0 none transparent;
  padding:0;
  margin:0;
  float: right;
  margin-right: 28px;
}

.logout-button:hover {
  text-decoration: underline;
}

label, input {
  border: 0;
      border-bottom: .75px solid black;
      outline: 0;
}

::-webkit-input-placeholder {
  color: black;
  opacity: .25;
}
