/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*body {
   background-color: pink;
 }*/
  
/****************************
  WEB FONTS
*****************************/

@font-face {
  font-family:"MissionGothic-Light";
  src:font-url('Mission-Gothic-Light.otf') format("opentype");
}

@font-face {
  font-family:"MissionGothic-Thin";
  src:font-url('Mission-Gothic-Thin.otf') format("opentype");
}

/****************************
  HEADERS
*****************************/

.header {
  font-family: 'MissionGothic-Light', sans-serif;
  font-weight: lighter;
  margin: 5px 18px 0px 21px;
  font-size: 80px;
  display: flex;
  flex-direction: row;
}

.head > span > img {
  margin: 3px 0 0 0;
}

.tagline {
  font-family:"MissionGothic-Thin";
  display: flex;
  font-weight: lighter;
  font-size: 25px; 
  margin: 0 10px 10px 176px;
  flex-direction: column-reverse;
}
.head > span {
  display: flex;
  margin: 7px 0 -7px 0;
}
.head {
  display: flex;  
  justify-content: space-between;
  flex-direction: row;
  border-bottom: .75px solid;
  margin: 0 10px 0 10px;
  padding-bottom: 10px;
}

.head > a {
  align-items: center;
  display: flex;  
}

.background-image {
    height: 600px;
    display: block;
    background-image: url('https://s3-us-west-2.amazonaws.com/tonedream-dev/pexels-photo-164828.jpeg');
    background-repeat: no-repeat;
    margin: 5% 0 0 0;
    background-size: 100%;
    background-position: center;
}
