/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*body {
   background-color: pink;
 }*/
  
/****************************
  WEB FONTS
*****************************/

@font-face {
  font-family:"MissionGothic-Light";
  src:font-url('Mission-Gothic-Light.otf') format("opentype");
}

@font-face {
  font-family:"MissionGothic-Thin";
  src:font-url('Mission-Gothic-Thin.otf') format("opentype");
}

/****************************
  HEADERS
*****************************/

.header {
  font-family: 'MissionGothic-Light', sans-serif;
  font-weight: lighter;
  margin: 5px 18px 0px 21px;
  font-size: 80px;
  display: flex;
  flex-direction: row;
}

.head > span > img {
  margin: 3px 0 0 0;
}

.tagline {
  font-family:"MissionGothic-Thin";
  display: flex;
  font-weight: lighter;
  font-size: 25px; 
  margin: 0 10px 12px 176px;
  flex-direction: column-reverse;
  white-space:nowrap;
}
.head > span {
  display: flex;
  margin: 7px 0 -7px 0;
}
.head {
  display: flex;  
  justify-content: space-between;
  flex-direction: row;
  // border-bottom: .75px solid;
  margin: 0 10px 0 10px;
  padding-bottom: 10px;
}

.head > a {
  align-items: center;
  display: flex;  
}

.background-image {
    height: 450px;
    display: block;
    background-image: url(https://s3-us-west-2.amazonaws.com/tonedream-dev/pexels-photo-11762.jpeg);
    background-repeat: repeat-x;
    margin: 100px 0 0 0;
    background-size: 80%;
    background-position: center;
    // border-bottom: .75px solid;
    // border-top: .75px solid;
    /* margin: 0 0 0 0; */
    padding: 0px 0 0 0;
    // background-color: #464035;

}

p.main-tagline {
    float: left;
    display: flex;
    font-family: "MissionGothic-Thin";
    display: flex;
    font-weight: 700;
    font-size: 25px;
    margin: 0px 4px 6px 7px;
    float: left;
    flex-direction: column-reverse;
    text-align: right;
    border-bottom: .75px solid;
    padding: 8px 0 -3px 8px;
}

.search-wrapper {
    display: flex;
    float: left;
    flex-direction: column-reverse;
    margin-bottom: 23px;
}

input.search-bar {
    font-size: 15px;
    margin: 0px 11px -6px 12px;
    width: 247px;
    border: .75px solid;
    border-radius: 8px;
    text-align: center;
    height: 24px;
}