/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  
/****************************
  WEB FONTS
*****************************/

@font-face {
  font-family:"MissionGothic-Light";
  src:font-url('Mission-Gothic-Light.otf') format("opentype");
}

@font-face {
  font-family:"MissionGothic-Thin";
  src:font-url('Mission-Gothic-Thin.otf') format("opentype");
}

@font-face {
  font-family:"MissionGothic-Regular";
  src:font-url('Mission-Gothic-Regular.otf') format("opentype");
}

@font-face {
  font-family:"CormorantUpright-SemiBold";
  src:font-url('CormorantUpright-SemiBold.eot') format("opentype");
}

/****************************
  HEADERS
*****************************/

body {
  background: #d3d3d324;
}

::-webkit-scrollbar { 
  display: none; 
}

header {
  display: flex;
  width: 100%;
  transition: margin 0.25s ease-out;
  background-color: rgba(255,255,255,0.96);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.15);
  height: 10vh;
  .logo {
    padding: 1vh 0vh 0vh 0vh;
    display: flex;
    margin: auto;
    h1 {
      font-family: "Playfair Display", "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 5vh;
    }
  }
}

/***************************
  FOOTERS
*****************************/

footer {
  display: flex;
  justify-content: space-around;
  transition: margin 0.25s ease-out;
  background-color: rgba(255, 255, 255, 0.96);
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.15);
  height: 9vh;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #d3d3d342;
    width: 20%;
  }
  div:last-child {
    border: none;
  }
  .svg-inline--fa {
    font-size: 3.2vh;
  }
}

