.audio-player {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%; 
  transition: margin 0.25s ease-out;
  position: fixed;
  // background-color: rgba(255, 255, 255, 0.96);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.15);
  height: 50px;
  background-color: #f2f2f2;
  border-top: 1px solid #cecece;
  border-top-color: #848484;
  
  .audio-player-controls {
    display: flex;
  .volume {
          width: 30px;
        }
    li {
      padding: 17px 0px 0 32px;
        i {
        padding: 0 0 0 12px;
      }
    }
  }

  .audio-player-photo {
    width: 43px;
    padding: 5px 0px 0 32px;
  }

  .artist-info {
    display: flex;
    .artist-info-data {
      padding: 4px 0 0 0;
    }
    div {
      p a {
        font-family: 'MissionGothic-Light';
        font-size: 12px;
        font-weight: bold;
        color: #999;
      }
      p a:hover {
        color: black;
      }
      p {
        font-family: 'MissionGothic-Light';
        font-size: 12px;
        font-weight: bold;
        padding: 3px 0 0 15px;
      }
    }
  }
}
