.drop-down-menu-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    li {
        font-family: "Raleway", "Open-Sans", sans-serif;
        font-weight: bold;
        font-size: 2.3vh;
        padding: 4% 0 4% 2%;
        width: 88%;
        letter-spacing: .5px;
        border-bottom: 1px solid #f6f6f6;
        color: #f6f6f6;
    }
}