.edit-page-container {
    display: flex;
    background-color: white;
  }
  
  .edit-page-div {
    padding: 100px 0px 0 0px;
    border-right: 1px solid #eaeaea;
    width: 220px;
    background: white;
    height: 800px;
    height: -webkit-fill-available;
    p {
      font-family: 'MissionGothic-Light', sans-serif;
      font-size: 25px;
      color: rgb(153, 153, 153);
      padding: 0 0 30px 20px;
    }
}

.edit-page-nav {
    font-family: 'MissionGothic-Light', sans-serif;
    width: 209px;
    li {
      padding: 17px 0 16px 15px;
      font-weight: bold;
      font-size: 16px;
      width: 202px;
      border-left: 4px solid transparent;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
    }
    li:hover {
      cursor: pointer;
      background-color: #f6f6f6;
    }
  }
  
//   .edit-page-nav li {
//     border-left: 4px solid #649922;
//     border-bottom: 1px solid #eaeaea;
//     border-top: 1px solid #eaeaea;
//     padding-right: 0;
//     background: #fff;
// }

.edit-page-form {
    padding: 101px 0 0px 55px;
  select {
    font-family: 'MissionGothic-Light', sans-serif;
    font-size: 13px;
    border: none;
    width: 305px;
    padding: 0px 0px 0 12px;
    height: 33px;
    -webkit-appearance:none 
  }
}