.featured-wrapper {
  background: #F2FFE2;
  padding: 0 0 8px 30px;
  width: 100%;
  z-index: 5;
  background: #F2FFE2;
  padding: 147px 0 12px 34px;
  margin: 0px 0px 0px 0;
  h3 {
    font-family: "MissionGothic-Regular", sans-serif;
    font-weight: 200;
    color: #649922;
    font-size: 25px;
    padding: 10px 0 0 10px;
  }
  main {
      margin: 15px 0 0 10px;
      display: flex;
    section {
      display: flex;
      img {
        width: 280px;
        height: 280px;
      }
      .play-button {
         background-color: white;
         p {
           padding: 28px 44px 0 10px;
            width: 21px;
           i {
             font-size: 40px;
           }
         }
      }
      article {
        padding: 0 0 0 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
        width: 174px;
        height: 280px;
        section:first-child {
          margin-top: 25px;
          p:first-child {
            font-size: 20px;
            font-weight: bold;
          }
        }
         section:last-child {
          margin-bottom: 15px;
        }
        section:first-child:hover {
          text-decoration: underline;
        }
        section {
          display: flex;  
          flex-direction: column;
          p {
            font-family: 'MissionGothic-Light';
            font-size: 20px;
            margin-left: 20px;
          }
          p.album-of-day {
            color: #777;
          }
        }
      }
    }
  }
  div {
    display: flex;
    flex-wrap: wrap;
    div {
        background: white;
        flex-direction: column;
        font-family: 'MissionGothic-Light', sans-serif;
        font-size: 20px;
        text-align: left;
        margin: 10px 35px 10px 10px;
        border: 1px solid;
        border-color: #F2FFE2;
        height: 296px;
        width: 230px;
        a {
          margin: 0 0 10px 0;
        }
        a:hover {
          text-decoration: underline;
        }
      }
      img {
        height: 230px;
        width: 230px;
      }
    }
  }
  
.featured-wrapper div div a {
    margin: 19px 0 0px 16px;
}


