/****************************
  ARTIST FORM
*****************************/

.edit-user-form {
    display: flex;
    padding-top: 12vh;
    width: 100%;
    justify-content: center;
    form {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
        width: 88%;
        * {
            margin: 2vh 0 0 0;
        }
        label {
            p {
                font-family: "Raleway", "Open-Sans", sans-serif;
                font-size: 2vh;
                margin-top: 0;
            }
        }
        img {
            width: 88%;
        }
        .errors {
            font-family: "Raleway", "Open-Sans", sans-serif;
            font-size: 1.8vh;
            margin: 0;
            display: flex;
            flex-direction: column;
            color: red;
            li {
                margin: .5vh;
                text-align: center;
            }
        }
    }
}