/****************************
  ARTIST FORM
*****************************/

.edit-user-form {
    display: flex;
    padding-top: 12vh;
    width: 100%;
    form {
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 88%;
            position: relative;
        }
        * {
            margin: 1vh 0 0 0;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            width: 100%;
        }
        .positioner {
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 1;
            text-align: center;
            border-radius: 15px;
            padding: 0vh 3vw;
            background-color: #999999b5;
            font-size: 12vh;
            position: absolute;
        }
        section p {
            font-family: 'MissionGothic-Light', sans-serif;
            font-size: 13px;
        }
        textarea.artist-input-textarea {
            font-family: 'MissionGothic-Light', sans-serif;
            font-size: 13px;
            background: #f8f8f8;
            width: 294px;
            height: 53px;
            border: 1px solid lightgray;
            border-radius: 4px;
            height: 80px;
            padding: 8px 0 0 11px;
        }

        label.custom-upload-button p {
            border-radius: 3px;
            padding: 10px 12px;
            width: 282px;
            border: 1px solid lightgray;
        cursor: pointer;
            background: #f8f8f8;   
        }
    }
}