// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.artist-profile {
    display: flex;
    flex-direction: column;
    padding-bottom: 127px;
}

.artist-profile-nav {
  font-family: 'MissionGothic-Thin', sans-serif;
  font-weight: lighter;
  float: left;
  font-size: 16px;
  margin: 0 0 0 22px;
}

.artist-profile-nav > ul {
  align-items: center;
  display: flex;
  margin: -1px 15px 0 0;
  font-size: 20px;
}

.artist-profile-nav > ul {
  align-items: center;
  justify-content: c;
  display: flex;
  margin: 10px 15px 0 0;
  font-size: 20px;
}

.artist-profile-content {
  display: flex;
  margin: 115px 0px 0px 28px;
}

ul.artist-profile-list > li {
  margin: 9px 30px 0px 2px;
  padding-right: 32px;
  font-size: 24px;
  font-family: 'MissionGothic-Light', sans-serif;
}

ul.artist-profile-list > li:not(:last-child) {
  border-right: .75px solid;
}

.profile-pic {
  height: 250px;
  max-width: 270px;
}

.user-info {
  margin: 63px 70px 0 20px;
  font-family: MissionGothic-Light;
  font-size: 30px;
  text-align: left;
  width: 252px;
  height: 500px;
  background-color: white;
}

.user-info > ul {
  margin: 10px;
  text-align: center;
  margin: 80px 0 0 0;
  text-align: left;
}

.location {
  font-family: MissionGothic-Thin;
  font-size: 20px;
  border-bottom: .75px solid;
  padding: 0 0 10px 0;
}

li.band {
    margin: -69px 0 0 0;
}

.bio {
    font-family: MissionGothic-Thin;
    font-size: 20px;
    margin: 9px 0 0 0;
}

.edit-form-container {
    margin: 64px 70px 0 20px;
    font-family: MissionGothic-Light;
    font-size: 30px;
    text-align: left;
    width: 270px;
    height: 500px;
}

.login-input-box {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: 'MissionGothic-Light', sans-serif;
    outline: none;
    margin-top: 12px;
    margin-bottom: -4px;
}

.submit-edit, .edit > button {
    font-family: 'MissionGothic-Light', sans-serif;
    background-color: white;
    border: none;
    color: black;
    padding: 2px 8px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 14px;
    border: .75px solid;
    outline: none;
}

input.edit-input {
    font-size: 16px;
    font-family: 'MissionGothic-Light';
    margin: 8px 0 0 0;
    width: 200px;
}
