// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/****************************
  MAIN
*****************************/


.artist-profile {
    display: flex;
    flex-direction: column;
}

ul.artist-profile-list > li {
  margin: 9px 30px 0px 2px;
  padding-right: 32px;
  font-size: 24px;
  font-family: 'MissionGothic-Light', sans-serif;
}

ul.artist-profile-list > li:not(:last-child) {
  border-right: .75px solid;
}

/****************************
  NAV
*****************************/

.artist-profile-nav {
  font-family: 'MissionGothic-Thin', sans-serif;
  font-weight: lighter;
  float: left;
  font-size: 16px;
  margin: 0 0 0 22px;
}

.artist-profile-nav > ul {
  align-items: center;
  display: flex;
  margin: -1px 15px 0 0;
  font-size: 20px;
}

.artist-profile-nav > ul {
  align-items: center;
  justify-content: c;
  display: flex;
  margin: 10px 15px 0 0;
  font-size: 20px;
}

.artist-profile-content {
  display: flex;
  margin: 37px 0px 0px 28px;
}

.artist-profile-list > li:hover {
  text-decoration: underline;
}


/****************************
  USER INFO
*****************************/


.profile-pic {
  height: 150px;
}

.user-info {
  margin: 14px 70px 0 50px;
  font-family: MissionGothic-Light;
  font-size: 30px;
  text-align: left;
}

.user-info > ul {
  margin: 10px;
  text-align: left;
  margin: 5px 0 0 0;
}

.location {
  font-family: MissionGothic-Light;
  font-size: 16px;
}

.bio {
  font-family: MissionGothic-Thin;
  font-size: 16px;
  border-top: .75px solid;
  margin-top: 10px;
  padding-top: 10px;
}

.band {
  font-size: 25px;
}


