// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul.search-results {
    font-family: MissionGothic-Light;
    font-weight: 900;
    border: .75px solid;
    margin: -87px 0 0px -30px;
    width: 270px;
    text-overflow: ellipsis;
    position: absolute;
    top: 110px;
    background-color: white;
    border-color:darkgray;

    img {
        height: 54px;
        width: 54px;
        border: 1px solid lightgray;
    }

    li {
      display: flex;
      flex-direction: row;
      padding: 10px 0px 0 10px;

      div {
        padding: 0px;
      }
    }

    li:hover {
        outline: none;
        background-color: #F2FFE2;
    }
}

input.search-bar {
  font-size: 15px;
  margin: -62px 0 0 -30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  border: 1px solid #bebebe;
  border-radius: 3px;
  color: rgba(22, 17, 19, 0.7);
  height: 30px;
  padding: 0 28px 0 10px;
  width: 232px;
  outline: none;
}

.results-text {
  margin: 0 0 0 10px;
}

.search-bar:focus { 
  outline: none;
  border-color: darkgray;
  box-shadow: 0 0 2px darkgray;
  background-color: #F2FFE2;
}

.search-wrapper {
  display: flex;
  float: left;
  position: relative;
  display: flex;
  float: left;
  flex-direction: column-reverse;
  margin: 51px 40px 20px 0;
}

.fa-search { 
  position: absolute;
  top: -1px;
  left: 215px;
  font-size: 19px;
  border-style: none;
}


/****************************
  ALT SEARCH
*****************************/
