// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul.search-results {
    font-family: MissionGothic-Light;
    font-weight: 900;
    border: .75px solid;
    padding: 9px 3px 4px 12px;
    margin: -72px 0 0px -29px;
    width: 227px;
    text-overflow: ellipsis;
    position: absolute;
    top: 107px;
    background-color: white;
    border-color:darkgray;
}

input.search-bar {
    font-size: 15px;
    margin: -62px 0 0 -31px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    border: 1px solid #bebebe;
    border-radius: 3px;
    color: rgba(22,17,19,0.7);
    height: 26px;
    padding: 0 28px 0 10px;
    width: 243px;
    outline: none;
}

.search-bar:focus { 
    outline: none;
    border-color: darkgray;
    box-shadow: 0 0 2px darkgray;
    background-color: #EEF2F3;
}

.search-wrapper {
    display: flex;
    float: left;
    position: relative;
    display: flex;
    float: left;
    flex-direction: column-reverse;
    margin: 0 20px 20px 0;
}

.fa-search { 
  position: absolute;
  top: 24px;
  left: 7px;
  font-size: 15px;
  border-style: none;
}