// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/****************************
  SEARCH BAR
*****************************/

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    input {
      font-family: "Raleway", "Open-Sans", sans-serif;
      font-weight: 100;
      font-size: 2.5vh;
      width: 88%;
      border-bottom: 1px solid lightgray;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      padding: 0 0 10px 10px;
      background: #f8f8f8; 
      letter-spacing: .2px;
    }
  }
}

/****************************
  SEARCH RESULTS
*****************************/

.search-results {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
    img {
        height: 54px;
        width: 54px;
        border-radius: 50px;
    }
    li {
      width: 88%;
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid lightgray;
      padding: 10px 0px 8px 10px;
      div {
        padding: 0px;
      }
      .results-text {
        font-family: "Raleway", "Open-Sans", sans-serif;
        font-weight: 100;
        font-size: 2.2vh;
        margin: 1.5vh 0 0 2vh;
      }
      .results-text-nothing {
        font-family: "Raleway", "Open-Sans", sans-serif;
        font-weight: 100;
        font-size: 2.2vh;
      }
    }
}

