// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/****************************
  SEARCH BAR
*****************************/

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    input {
      font-family: "Raleway", "Open-Sans", sans-serif;
      font-weight: 100;
      color: #f6f6f6;
      font-size: 4vh;
      width: 88%;
      background: 0;
      border-bottom: 1px solid #f6f6f624;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-radius: 6px;
      padding: 10px 0 10px 10px;
      letter-spacing: .2px;
    }
  }
}

/****************************
  SEARCH RESULTS
*****************************/

.search-results {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
    img {
        height: 8vh;
        width: 8vh;
        border-radius: 50px;
    }
    article {
      font-family: "Raleway", "Open-Sans", sans-serif;
      font-weight: bold;
      letter-spacing: .5px;
      width: 88%;
      padding: 22px 0 22px 0px;
      text-align: center;
      color: white;
      font-size: 2.5vh;
      margin: auto;
    }
    li {
      width: 88%;
      display: flex;
      flex-direction: row;
      padding: 5px 0px 0px 10px;
      color: #f6f6f6;
      div {
        padding: 0px;
      }
      .results-text, .artist-text, .album-text, .track-text {
        font-family: "Raleway", "Open-Sans", sans-serif;
        font-weight: 100;
        font-size: 2vh;
        margin: 2.7vh 0 0 3vh;
      }
      .album-text, .track-text {
        margin: 1.7vh 0 0 3vh;
      }
      .album-text p:last-child {
        font-size: 1.85vh;
        padding-top: .5vh;
        color: #848484;
      }
      .track-text p:last-child {
        font-size: 1.85vh;
        padding-top: 3px;
        color: #848484;
      }
      .results-text-nothing {
        font-family: "Raleway", "Open-Sans", sans-serif;
        font-weight: 100;
        font-size: 2.2vh;
      }
    }
}

