// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/****************************
  NAV
*****************************/

.nav {
  display: flex;
  font-weight: 800;
  font-size: 20px;
}

.nav li {
  margin: 0 5px 5px 0;
  border-right: .75px solid #e9e5e5;
  margin: 0 0 0 -6px;
}

.nav li:last-child {
  padding-left: 10px;
  border-right: 0;
  margin-left: 5px;
}

.nav li:first-child {
  padding-left: 10px;
  margin-left: 5px;
  padding-right: 17px;
}

li.guest {
    padding-left: 23px;
    padding-right: 20px;
}


.nav > li:hover > a {
  text-decoration: underline;
}

.login-signup {
  font-family: 'MissionGothic-Light', sans-serif;
  font-weight: lighter;
  display: block;
  float: left;
  margin: 0 0 0 21px;
}

/****************************
  LINKS
*****************************/

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

.logout {
  margin: 0 26px 0 0;
}

.login-button {
    width: 308px;
    font-family: 'MissionGothic-Regular', sans-serif;
    font-size: 16px;
    height: 36px;
    text-align: center;
    color: #fff;
    border-radius: 0;
    padding: 0 1em;
    outline: none;
    background: #649922;
    border: none;
    margin: 20px 0 0 0px;
}



li.home {
    font-family: 'MissionGothic-Light', sans-serif;
    border: 0 none transparent;
    float: right;
    color: black;
    text-decoration: none;
    font-weight: 800;
    font-size: 20px;
    border-right: .75px solid #e9e5e5;
    padding: 0px 20px 0 20px;
}
li.home:hover {
  text-decoration: underline;
}

.logout {
  ul {
    li:first-child {
      border-right: 0;
    }
  }
}

/****************************
  LOGIN/SIGN IN FORM
*****************************/

.top-divider {
   height: 0;
    border-top: 2px dotted #ccc;
    margin: 36px 0 28px 0;
}

.login-form {
  margin-top: 29px;
}

label.check-box {
    margin-top: 14px;
    margin-left: 5px;
}


.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 60px;
  background: #F2FFE2;
}

.button-check-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form > li {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: 'MissionGothic-Light', sans-serif;
}

.login-form > ul {
  color: #FF161D;
  height: 30px;
  text-transform: lowercase;
  font-size: 12px;
  margin-top: 5px;
  text-align: center;
}

.login-input {
    flex-direction: column;
    font-size: 16px;
    font-family: 'MissionGothic-Light', sans-serif;
    outline: none;
    display: flex;
    align-items: flex-end;
    width: 290px;
    line-height: 35px;
    padding: 0px 0 0 10px;
}

.login-label {
    margin: 0px 18px 0 0;
    font-size: 16px;
}

.login-form > li {
  margin-bottom: 5px;
}

form.login-form-box {
    width: 600px;
}

.item {
    display: flex;
    align-items: center;
    margin: 14px -165px 0px 0;
}

.formtype {
    font-size: 14px;
    font-family: 'MissionGothic-Light', sans-serif;
    font-weight: bold;
    text-align: center;
    text-align: right;
    padding: 5px 142px 0 24px;
}

.formtype:hover {
  text-decoration: underline;
}

/****************************
  ALT-NAV
*****************************/

.alt-nav {
  display: flex;
  font-weight: 800;
  font-size: 15px;
    a {
      color: #649922;
    }
}

.alt-guest {
    padding-left: 23px;
    padding-right: 23px;
}


.alt-nav > li:hover > a {
  text-decoration: underline;
}

.alt-login-signup {
  font-family: 'MissionGothic-Light', sans-serif;
  font-weight: lighter;
  display: block;
  float: left;
  margin: 14px 23px 0 22px;
}


/****************************
  ALT-LOGOUT
*****************************/

.alt-logout {
  ul {
    display: flex;
    padding: 15px 23px 0px 0px;
    li {
      padding: 0 0 0 23px;
    }
  }
}

.alt-home {
    font-family: 'MissionGothic-Light', sans-serif;
    font-weight: 800;
    font-size: 15px;
    a {
      color: #649922;
    }
}
.alt-home:hover {
  text-decoration: underline;
}