.album-main {
    display: flex;
    font-family: MissionGothic-Light;
    margin: 9px 40px 0px 0px;
}

.album-info {
    display: flex;
    flex-direction: column;
    width: 378px;
}

.outer-album-show-photo {
    display: flex;
}

.album-info h1 {
    font-size: 30px;
}

.album-info p {
    font-size: 16px;
}

.edit-button {
    border: 1px solid silver;
    font-family: MissionGothic-Thin;
    font-size: 16px;
    background-color: lightyellow;
    color: #0687f5;
    font-weight: bold;
    text-align: center;
    margin: 9px 0 0 0;
    padding: 2px 0 2px 0;
        width: 52px;
}

.edit-button:hover {
    text-decoration: underline;
}


.album-info audio { 
  width: 164px; 
}

.non-track-data {
    display: flex;
}

.non-track-data div {
    // display: flex;
}

.track-list {
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.album-info ul {
  font-size: 14px;
    display: flex;
}

audio::-internal-media-controls-download-button {
    display:none;
}

audio::-webkit-media-controls-enclosure {
    overflow:hidden;
}

audio::-webkit-media-controls-panel {
    width: calc(100% + 75px); /* Adjust as needed */
    background-color: white;
    height: 15px;
}

.audio-item {
    display: flex;
    flex-direction: row;
    padding: 12px 0px 0px 0px;
}

.audio-info {
    margin: 0px 0px 0px 0px;
    font-size: 15px;
    display: inline;
    flex-direction: inherit;
    flex-wrap: inherit;
    text-align: left;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.album-info > .edit {
    margin: 0 0 0 -17px;
}

.audio-item {
    i.fa.fa-play, i.fa.fa-pause {
    padding: 5px 5px 4px 7px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    font-size: 10px;
    }
}

.album-show-photo {
    height: 350px;
    width: 350px;
}

li.track-info {
    margin: 2px 0 0 18px;
}