<!DOCTYPE html>
<html>
  <head>
    <title>tonedream</title>
    <link rel="icon" href="http://res.cloudinary.com/tonedream/image/upload/c_scale,h_589/v1500576450/settings_os0b9w.png">
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Carrois+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
