<!DOCTYPE html>
<html>
  <head>
    <title>Tonedream - Independent Music Network</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

     <link href="https://fonts.googleapis.com/css?family=Lora|Playfair+Display|Raleway|Carrois+Gothic|Nunito|Mukta+Malar" rel="stylesheet">

    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106025777-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-106025777-1');
    </script>

  </head>
  <body>
    <%= yield %>
  </body>
</html>
